@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: rgb(9, 9, 9);
}

/* Full Nav Bar Box */
.nav-items {
  /* Each will act as span */
  display: flex;
  /* align items in y-axis */
  align-items: center;
  /* align items in x-axis */
  justify-content: center;
  /* Adding space by padding */
  padding: 3vw 12vw;
}

/* logo */
.items>.a0>a {
  display: flex;
  align-items: center;
  font-family: "Bitcount Grid Single", system-ui;
  /* Remove any text dec. due to link tag */
  text-decoration: none;
  color: #50d909;
  font-weight: 500;
}


/* Changes in nav items box */
.items {
  /* Each will act as span */
  display: flex;
  /* 1 em - 1 of the current font size gap btw words */
  gap: 20px;
  /* Size */
  font-size: 15px;
}

/* Changes in nav items>indivdual>link>font box */
.items a {
  /* Font & color*/
  font-family: "Michroma", sans-serif;
  font-weight: bold;
  font-style: normal;
  color: rgb(246, 246, 246);
  /* Will remove default link line color & list style */
  text-decoration: none;
  list-style: none;
}