/* Michroma Font */
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
/* Bitcount Font */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
/* Seoge UI */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* All */
* {
  color: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
:root {
  /* Nav Bar */
  --text-color: rgb(247, 247, 247);
  --text-color-hover: #62d926;
  --text-color-aero: #50d909;
  --text-color-contact: #101010;
  --background-color: rgb(225, 225, 225);
  --background-color-contact: #50d909;
  --background-color-contact-hover: #48b811;
  --background-color-navbar-box: rgb(16, 16, 16);
}

/* Smooth Scroll while tapping on link */
html {
  scroll-behavior: smooth;
}

/* Body */
body {
  font-family: "Michroma", system-ui;
  font-weight: bold;
  background-color: var(--background-color);
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 610px;
  margin: 30px auto 0 auto;
  height: 60px;
  background-color: var(--background-color-navbar-box);
  border-radius: 14px;
}

/* Options box all - navbar  */
.items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 25px;
}

/* aero-logo */
.a1 {
  width: 45px;
  position: relative;
  top: 2px;
}

/* Contact */
.a5 {
  color: var(--text-color-contact);
  background-color: var(--background-color-contact);
  padding: 2px 5px;
  border-radius: 6px;
}

/* Contact hover */
.a5:hover {
  background-color: var(--background-color-contact-hover);
  transition: 100ms ease-in-out;
}

/* Options box individual[list] - navbar  */
.items>li {
  list-style: none;
}


/* Options's Font - nav-bar*/
.items>li {
  color: var(--text-color);
}

/* Hover effect on nav-bar */
.items>li:hover {
  color: var(--text-color-hover);
  transition: 100ms ease-in-out;
}

/* Hero Section */
.hero {
  font-family: "Roboto", sans-serif;
  font-weight: 1000;
  font-size: 77px;
  display: flex;
  justify-content: center;
  /* horizontal */
  align-items: center;
  /* full viewport height */
  text-align: center;
  line-height: 80px;
  position: relative;
  top: 70px;
}

/* Links */
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  top: 100px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  gap: 20px;
  font-weight: 800;
}

/* Links boxes */
.links a {
  background-color: var(--background-color-contact);
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 3px;
  padding-top: 3px;
  border-radius: 10px;
}



