@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');

* {
    padding: 0;
    margin: 0;
}


nav>div>a {
    text-decoration: none;
    color: black;
}

.logo img {
    width: 60px;
    position: relative;
    left: 35px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(19, 19, 19);
    margin: auto;
    padding: 10px;
    height: 65px;
    gap: 60px;
    border-bottom: 5px solid #50d909;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.navbuttons {
    margin: auto;
    border: none;
    outline: none;
    background: none;
    display: flex;
    gap: 25px;
    font-family: "Michroma", sans-serif;
    font-size: 17px;
}

.navbuttons a {
    border: none;
    outline: none;
    background: none;
    color: #f0f0f0;
    position: relative;
    right: 25px;
}